# gradle
.gradle/
build/

# runtime/dev outputs
run/
bin/
out/

# logs
*.log
logs/

# ide
.idea/
.vscode/*
!.vscode/launch.json
*.iml

# os
.DS_Store
Thumbs.db
19228afa-87f9-4fc3-b056-6ab81fb08c92.png
